<section class="hero flex flex-between ">
    <div class="hero-content flex flex-col">
        <h1>
            Рембуд — <span>преміальний ремонт</span> квартир та будинків
        </h1>
        <p class="hero-subtitle">
            Електрика, сантехніка, плитка, демонтаж, стяжка, фарбування, двері — швидко, надійно та з письмовою
            гарантією.
        </p>
        <div class="hero-actions flex">
            <button class="btn big" onclick="openModal('orderModal')">Викликати майстра</button>
            <button class="ghost big" onclick="openModal('priceModal')">Отримати розрахунок</button>
        </div>
        <div class="hero-features flex flex-center"> </div>
    </div>
    <div class="hero-services flex flex-center"></div>
</section>