.header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: inherit;
    margin: 0.5rem 0;
}

.brand {
    gap: 14px;
}

.logo {
    padding: 0.2rem 0.35rem;
    font-size: 28px;
    font-weight: 800;
    border-radius: 12px;
    background: var(--btn-color);
    position: relative;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.logo:hover {
    transform: scale(1.15) rotate(10deg);
}

.brand h1 {
    font-size: 1.2rem;
}

.slogan {
    opacity: 0.8;
    font-size: 0.8rem;
}

.navlinks {
    gap: 10px;
    animation: fadeInTop 1s ease forwards;
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100%;
    max-width: 300px;
    height: calc(100% - 62px);
    background: var(--bg-gradient);
    justify-content: space-around;
    transition: left .5s;
}

.navlinks a,
.mobile-nav a {
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
    padding: 2px;
    position: relative;
    transition: transform .3s ease, color .3s ease;
    font-size: .9rem;

}

.ghost,
.btn {
    cursor: pointer;
    font-size: 14px;
    padding: 5px 11px;
    background: var(--btn-color);
    color: var(--white);
    border-radius: 16px;
    font-weight: 700;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .25);
    transition: all 0.3s ease;
}

.ghost {
    background: transparent;
    border: 1px solid var(--white);
}

.ghost:hover,
.btn:hover {
    background: var(--btn-hover);
    transform: scale(1.08) translateY(-2px);
}

.ghost:hover{
    background: rgba(255, 255, 255, 0.1);
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    width: 40px;
    height: 26px;
    visibility: hidden;
    cursor: pointer;
    position: relative;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
    transition: .4s;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
}

.burger::after {
    bottom: 0;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: none;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
}

.burger-checkbox:checked~.mobile-nav {
    left: 0;
}

@media (min-width: 1920px) {
    .navlinks {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .navlinks a:not(.ghost) {
        font-size: 1.1rem;
        padding: 2px 5px;
    }
}

@media (max-width: 900px) {
    .burger {
        visibility: visible;
    }

    .brand h1 {
        font-size: 20px;
    }

    .desktop-only,
    .slogan-desctop {
        display: none;
    }

    .slogan {
        font-size: 1.3rem;
        width: 85%;
        text-align: center;
        margin: 0 auto;
    }

    .btn {
        font-size: 22px;
    }

    .mobile-nav a {
        margin: 0;
    }
}